<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>

<section layout:fragment="content">
    <div>
        <h2>Dodawanie</h2>
        <form action="/add" method="post" th:object="${calculatorForm}">
            x = <input type="text" th:field="*{x}" th:errorClass="error" />

            y = <input type="text" th:field="*{y}" th:errorClass="error"/>

            <input type="submit" value="Dodaj" />
            <br/>
            <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}">Błędne dane</span>
            <br/>
            <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}">Błędne dane</span>

        </form>
    </div>

</section>
</body>
</html>