<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiniMatlab 0.1 beta</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>MiniMatlab 0.1 beta</h1>

<div>
    <h2>Dodawanie</h2>
    <form action="/add" method="post">
        x = <input type="text" name="x" value="2"/>
        y = <input type="text" name="y" value="2"/>
        <input type="submit" value="Dodaj"/>
    </form>
</div>

<div>
    <h2>Mnożenie</h2>
    <form action="/multiply" method="post">
        x = <input type="text" name="x" value="2"/>
        y = <input type="text" name="y" value="2"/>
        <input type="submit" value="Pomnóż"/>
    </form>
</div>

<div>
    <h2>Power feature (płatny toolbox)</h2>
    <form action="/calculate" method="post">
        x = <input type="text" name="x" value="2"/>
        y = <input type="text" name="y" value="2"/>
        <select name="operation">
            <option selected="true">+</option>
            <option>-</option>
            <option>*</option>
        </select>
        <input type="submit" value="Oblicz"/>
    </form>
</div>
</body>
</html>
